---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Contacts
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="82d26b1ce66f99bb03cdcbbc709308a1",
        oauth_signature="1Cq12jL8xqHD29WCA0bNl0osWnE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1539955199", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      Xero-Cell:
      - favorit
      X-Client-Tls-Ver:
      - tls1.2
    body:
      encoding: UTF-8
      string: "{\r\n  \"Id\": \"49dce16d-2cf0-48b8-bd63-109661850fea\",\r\n  \"Status\":
        \"OK\",\r\n  \"ProviderName\": \"RubyApi\",\r\n  \"DateTimeUTC\": \"\\/Date(1539955199549)\\/\",\r\n
        \ \"Contacts\": [\r\n    {\r\n      \"ContactID\": \"a91fab22-7dcc-4706-bbef-0d4610a3421d\",\r\n
        \     \"ContactNumber\": \"70bbb349917d8ca9e1f71edb5308916efd21fe71d817793c66\",\r\n
        \     \"ContactStatus\": \"ACTIVE\",\r\n      \"Name\": \"Christian Pelczarski\",\r\n
        \     \"FirstName\": \"Christian\",\r\n      \"LastName\": \"Pelczarski\",\r\n
        \     \"EmailAddress\": \"christian@minimul.com\",\r\n      \"Addresses\":
        [\r\n        {\r\n          \"AddressType\": \"POBOX\"\r\n        },\r\n        {\r\n
        \         \"AddressType\": \"STREET\"\r\n        }\r\n      ],\r\n      \"Phones\":
        [\r\n        {\r\n          \"PhoneType\": \"DDI\"\r\n        },\r\n        {\r\n
        \         \"PhoneType\": \"DEFAULT\"\r\n        },\r\n        {\r\n          \"PhoneType\":
        \"FAX\"\r\n        },\r\n        {\r\n          \"PhoneType\": \"MOBILE\"\r\n
        \       }\r\n      ],\r\n      \"UpdatedDateUTC\": \"\\/Date(1537613483710+0000)\\/\",\r\n
        \     \"ContactGroups\": [],\r\n      \"IsSupplier\": false,\r\n      \"IsCustomer\":
        false,\r\n      \"ContactPersons\": [],\r\n      \"HasAttachments\": false,\r\n
        \     \"HasValidationErrors\": false\r\n    },\r\n    {\r\n      \"ContactID\":
        \"c313aeb9-6fd1-4ead-9e0a-4b7e8bff0d1a\",\r\n      \"ContactStatus\": \"ACTIVE\",\r\n
        \     \"Name\": \"Office Supplies Company\",\r\n      \"FirstName\": \"\",\r\n
        \     \"LastName\": \"\",\r\n      \"EmailAddress\": \"\",\r\n      \"BankAccountDetails\":
        \"\",\r\n      \"Addresses\": [\r\n        {\r\n          \"AddressType\":
        \"POBOX\",\r\n          \"City\": \"\",\r\n          \"Region\": \"\",\r\n
        \         \"PostalCode\": \"\",\r\n          \"Country\": \"\",\r\n          \"AttentionTo\":
        \"\"\r\n        },\r\n        {\r\n          \"AddressType\": \"STREET\",\r\n
        \         \"AddressLine1\": \"2020 S Robertson Blvd\",\r\n          \"AddressLine2\":
        \"\",\r\n          \"AddressLine3\": \"\",\r\n          \"AddressLine4\":
        \"\",\r\n          \"City\": \"Los Angeles\",\r\n          \"Region\": \"CA\",\r\n
        \         \"PostalCode\": \"90034\",\r\n          \"Country\": \"USA\",\r\n
        \         \"AttentionTo\": \"\"\r\n        }\r\n      ],\r\n      \"Phones\":
        [\r\n        {\r\n          \"PhoneType\": \"DDI\",\r\n          \"PhoneNumber\":
        \"\",\r\n          \"PhoneAreaCode\": \"\",\r\n          \"PhoneCountryCode\":
        \"\"\r\n        },\r\n        {\r\n          \"PhoneType\": \"DEFAULT\",\r\n
        \         \"PhoneNumber\": \"\",\r\n          \"PhoneAreaCode\": \"\",\r\n
        \         \"PhoneCountryCode\": \"\"\r\n        },\r\n        {\r\n          \"PhoneType\":
        \"FAX\",\r\n          \"PhoneNumber\": \"\",\r\n          \"PhoneAreaCode\":
        \"\",\r\n          \"PhoneCountryCode\": \"\"\r\n        },\r\n        {\r\n
        \         \"PhoneType\": \"MOBILE\",\r\n          \"P[...]
