---
http_interactions:
- request:
    method: get
    uri: https://api.xero.com/api.xro/2.0/Items?page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      If-Modified-Since:
      - '2014-01-01T00:00:00'
      Authorization:
      - OAuth oauth_consumer_key="<CONSUMER_KEY>", oauth_nonce="b042c613941b4505b774ef20bc47ac14",
        oauth_signature="zW9Q1Gg9MjGFyBPSpXfiWxwnjJI%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1540069595", oauth_token="<ACCESS_TOKEN>", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Www-Authenticate:
      - OAuth Realm="api.xero.com"
      Xero-Cell:
      - favorit
      X-Client-Tls-Ver:
      - tls1.2
    body:
      encoding: UTF-8
      string: "{\r\n  \"Id\": \"9609c38f-c87a-4304-994a-68bf35d702d4\",\r\n  \"Status\":
        \"OK\",\r\n  \"ProviderName\": \"RubyApi\",\r\n  \"DateTimeUTC\": \"\\/Date(1540069595865)\\/\",\r\n
        \ \"Items\": [\r\n    {\r\n      \"ItemID\": \"4194d81d-3f6c-4768-8256-36130714637d\",\r\n
        \     \"Code\": \"BOOK\",\r\n      \"Description\": \"Fish out of Water: Finding
        Your Brand\",\r\n      \"PurchaseDescription\": \"Fish out of Water: Finding
        Your Brand\",\r\n      \"UpdatedDateUTC\": \"\\/Date(1537613484990+0000)\\/\",\r\n
        \     \"PurchaseDetails\": {\r\n        \"UnitPrice\": 15.9500,\r\n        \"AccountCode\":
        \"500\",\r\n        \"TaxType\": \"NONE\"\r\n      },\r\n      \"SalesDetails\":
        {\r\n        \"UnitPrice\": 19.9500,\r\n        \"AccountCode\": \"400\",\r\n
        \       \"TaxType\": \"AVALARA\"\r\n      },\r\n      \"Name\": \"Fish out
        of Water: Finding Your Brand\",\r\n      \"IsTrackedAsInventory\": false,\r\n
        \     \"IsSold\": true,\r\n      \"IsPurchased\": true\r\n    },\r\n    {\r\n
        \     \"ItemID\": \"ca5ae32d-4fe0-4db2-afae-a46a2c922447\",\r\n      \"Code\":
        \"GB1-White\",\r\n      \"Description\": \"Golf balls - white single. Please
        reorder with code GB1-White\",\r\n      \"PurchaseDescription\": \"Golf balls
        - white single. Wholesale catalog item #020812-1\",\r\n      \"UpdatedDateUTC\":
        \"\\/Date(1537613484990+0000)\\/\",\r\n      \"PurchaseDetails\": {\r\n        \"UnitPrice\":
        4.2000,\r\n   [...]
[...]
